<h2>
    Artist: <%= artist %>
</h2>
<h3>
    Tour: <%= tour %> <br/>
    <!-- <a href="/loginyt">Port to YT Playlist</a> <br/> -->
    <a href="/loginspotify">Port to Spotify Playlist</a>
</h3>
<p>
  <%  if(data.setlist) { %>
    <% data.setlist.forEach(function(sets) { %>
        <% let actualSet = sets.sets.set; %>
        <% let venue = sets.venue.name; %>
        <% let dateString = sets.eventDate; dateString = dateString.substr(3, 2)+"/"+dateString.substr(0, 2)+"/"+dateString.substr(6, 4); %>
        <h2>
            Venue: <%= venue %>
        </h2>
        <h4>
            Date: <%= dateString %> 
        </h4>
        <% if(actualSet.length > 0) { %>
            <ol>
            <%actualSet.forEach(function(songList) { %>
                <% if(songList.encore) { %>
                        <% songList['song'].forEach(function(song) { %>
                             <li> <%=   song.name %> </li> 
                        <% }); %> 
                <% } else { %>    
                    <% songList['song'].forEach(function(song) { %>
                    <li><%= song.name %></li>
                <% }) %> 
        <% } %>
        <%     }); %>
        <%   } else { %>
               No setlist found. 
        <%} %>
        </ol>
            
    <% }); %>
   <% } else { %>
        <h3>No results found</h3>
   <% } %>
</p>


<a href="/">Search again</a>